@tailwind base;
@tailwind components;
@tailwind utilities;

.title-1 {
    animation: animation 3s ease-out normal;
}

@keyframes animation {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.input-container {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.auto-resize-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}